---
import MainLayout from "../layouts/MainLayout.astro";
import PageHeader from "../components/PageHeader.astro";
import Banner from "../components/Banner.astro";
import Values from "../components/Values.astro";

import { Image } from "astro:assets";
import About1 from "../assets/about-1.png"
import About2 from "../assets/about-2.png"
---



<MainLayout title="About Aceltrim Ghana">
    <PageHeader>
        About Us
    </PageHeader>


    <!-- About -->
    <section class="section-about py-24">
        <div class="container wrapper">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                <div>
                    <h2 class="heading-secondary mb-8">How it started</h2>
                    <p class="slide-fleft">Our journey began in 2020 with a simple yet powerful mission: to create outdoor spaces that inspire and delight.
                        Over the years, we have grown into a full-service landscape design and maintenance
                        company, offering a wide range of services to meet the diverse needs of our clients.
                        

                        </p>
                    <br>
                    <p class="slide-fleft">
                        As we've grown, our commitment to excellence has only strengthened. Today, Aceltrim stands as a testament to the power of dedication and attention to detail. Our team of skilled professionals brings creativity and expertise to every project as we believe each landscape is unique, just like our clients. 


                    </p>
                    <br>
                        <p class="slide-fleft">At the heart of our work is a deep-rooted commitment to sustainability and environmental stewardship. Beyond creating beautiful spaces, we're dedicated to sustainability. We incorporate eco-friendly practices and materials into our work, preserving natural beauty for future generations. At Aceltrim, we're not just landscaping; we're crafting lasting, environmentally conscious outdoor experiences.

                    </p>
                </div>
                <div>
					<!-- <Image src={About1} alt="Aceltrim Group" /> -->
					<Image src={About2} alt="Aceltrim Group" class="mb-8 " />
					<Image src={About1} alt="Aceltrim Group" class="" />
				</div>
            </div>
        </div>
    </section>



    <!-- ============= Values ============= -->
    <Values></Values>
    <!-- End of Values -->











    <!-- ================ Section Banner ============== -->
    <Banner></Banner>
    <!-- End of section Banner -->
</MainLayout>







<style lang="scss">

    .section-about {


        img {
            
        }
    }

</style>