---
import MainLayout from '../layouts/MainLayout.astro';

import { Image } from "astro:assets";
---

<MainLayout title="Aceltrim Ghana">
	


	<!-- =========================== Coming soon Pge ===================== -->
	<section class="section-coming-soon">
		<div class="container wrapper">
			<div class="coming-container">
				<p>We are about to land</p>
				<h1>Get in touch</h1>
				<p>In the mean time, please do feel free to send all questions and all messages to via email</p>

				<a href="#" class="btn btn-black">Send us a message</a>
			</div>
		</div>
	</section>
	<!-- End of Coming soon page -->



</MainLayout>



<style lang="scss">

.section-coming-soon {
	width: 100%;
	min-height: 80vh;
	background-image: url(/assets/coming-soon.png);
}


</style>

