---

---





	<!-- =========================== Section Banner ===================== -->
	<section class="section-banner py-40">
		<div class="container wrapper">
			<div class="banner-container text-center">
				<h1 class="heading-big">Let's Build Together</h1>
				<p class="mb-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quibusdam blanditiis similique fugiat tenetur. Suscipit voluptatem omnis debitis esse. Doloribus molestiae similique ratione sequi deleniti.</p>
				<a href="#" class="btn btn-black">Send a message</a>
			</div>
		</div>
	</section>
	<!-- End of section Banner -->





<style lang="scss">

// ================== Section Banner =============
.section-banner {
	width: 100%;
	background-image: url(/assets/hero-1.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fff;

	.banner-container {
		max-width: 900px;
		margin: 0 auto;
	}
}
// End of section Banner
</style>