---

---





	<!-- =========================== Section Banner ===================== -->
	<section class="section-banner py-40">
		<div class="container wrapper">
			<div class="banner-container text-center">
				<h1 class="heading-big">Let's Build Together</h1>
				<p class="mb-8">Bring your vision to life.  Whether you're dreaming of a serene garden oasis, a vibrant commercial landscape, or anything in between, Aceltrim is here to make it happen. Our team of experts is ready to collaborate with you.
				</p>
				<a href="/contact" class="btn btn-black">Send a message</a>
			</div>
		</div>
	</section>
	<!-- End of section Banner -->





<style lang="scss">

// ================== Section Banner =============
.section-banner {
	width: 100%;
	background-image: url(/assets/hero-1.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #fff;

	.banner-container {
		max-width: 900px;
		margin: 0 auto;
	}
}
// End of section Banner
</style>