---

import { Image } from "astro:assets";
import WhiteLogo from "../assets/logo-white.png"
---


<footer class="section-footer" id="section-footer">
    <div class="container wrapper">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
            <div>
                <a href="/">
                    <img src={WhiteLogo.src} class="footer-logo mb-4" alt="second image"/>
                    <!-- <Image src={WhiteLogo} class="footer-logo mb-4" alt="Aceltrim Logo" /> -->
                </a>

                <p>At Aceltrim, we believe in the power of nature to enhance our lives. With a passion for landscaping and a commitment to excellence, we have been serving Ghana and beyond since 2020.</p>

                <ul class="terms-list">
                    <li class="terms-item">
                        <a href="/terms-of-service" class="terms-link">Terms of service</a>
                    </li>
                    <li class="terms-item">
                        <a href="/privacy-policy" class="terms-link">Privacy policy</a>
                    </li>
                </ul>
            </div>
            <div class="md:self-center md:justify-self-end">
                <a href="mailto: kofikwaakoomson@yahoo.com" target="_blank" class="btn btn-green">Contact Us</a>
            </div>
        </div>

        <hr class="my-24">

        <ul class="social-list">
            <li class="social-item">
                <a href="https://www.facebook.com/aceltrimghana/" class="social-link">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li class="social-item">
                <a href="https://www.linkedin.com/in/kofi-kwaa-koomson-76a552b5/" class="social-link">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
            <!-- <li class="social-item">
                <a href="#" class="social-link">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li> -->
        </ul>

        <div class="copy">
            <p>© 2024 Aceltrim Ghana Ltd. All Rights Reserved Built with <i class="text-red-600	 fa-solid fa-heart"></i> by <a href="https://segulaglobal.com/" class="text-lime-600">Segula Global</a></p>
        </div>
    </div>
</footer>






<style lang="scss">

.section-footer {
    background-color: var(--clr-black);
    color: var(--clr-gray-light);
    padding: 5rem 0 2rem;


    // Footer Logo
    .footer-logo {
        width: 200px;
    }
}
// End of footer logo




// Footer Terms
.terms-list {
    display: flex;
    margin: 3rem 0 0;

    .terms-item {

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    .terms-link {
        display: inline-block;
        font-size: 1.5rem;
        transition: .4s;

        &:hover, &:focus {
            color: var(--clr-lemon);
            transform: scale(1.1);
        }
    }
}
// End of footer terms







// Social media icons
.social-list {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 5rem 0 0;

    .social-item {

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }

    .social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 6rem;
        border: 2px solid #989898;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        transition: .4s;
        overflow: hidden;

        i {
            transition: .4s;
        }

        &:hover i, &:focus i {
            transform: rotateY(360deg);
        }

        &:hover::after {
            top: 0;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right, var(--clr-lemon), var(--clr-lemon-dark));
            position: absolute;
            top: 100%;
            left: 0;
            transition: .4s;
            z-index: -1;
        }
    }
    // End of social media icons
}








.copy {
    width: 100%;
    color: darkgray;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 5rem;
}

</style>