---

---





<div class="page-header">
    <div class="container wrapper">
        <div class="flex items-center justify-center w-full h-full pt-24">
            <h1 class="animate__animated animate__jello">
                <slot />
            </h1>
        </div>
    </div>
</div>







<style lang="scss">

    .page-header {
        width: 100%;
        height: 40vh;
        background: linear-gradient(to bottom, rgba(0, 175, 82, 0.774), rgba(0, 134, 87, 0.801)), url(/assets/page-header.png);
        border-radius: 0 0 5rem 5rem;
    }

    h1 {
        color: #fff;
        font-size: 4rem;
        font-family: "montserrat", sans-serif;
        font-weight: bolder;
    }

</style>