---

---



	<!-- =========================== Section Values ===================== -->
	<section class="section-values py-40 relative">
		<div class="container wrapper">
			<h2 class="heading-secondary mb-20">Our core values</h2>
			<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
				<!-- Value 1 -->
				<div class="value value-1 fade-up">
					<i class="fa-solid fa-lightbulb value-icon value-icon_1"></i>
					<h3>Excellence and Innovation</h3>
					<p> We are committed to delivering the highest quality in every project, embracing creativity and cutting-edge techniques to push the boundaries of landscape design.					</p>
				</div>
				<!-- End of Value-1 -->

				<!-- Value 2 -->
				<div class="value value-2 fade-up">
					<i class="fa-solid fa-heart value-icon value-icon_2"></i>
					<h3> Environmental Stewardship and Sustainability</h3>
					<p> We dedicate ourselves to preserving and enhancing natural beauty, incorporating eco-friendly practices and sustainable solutions in all our work.
					</p>
				</div>
				<!-- End of Value-2 -->

				<!-- Value 3 -->
				<div class="value value-3 fade-up">
					<i class="fa-regular fa-thumbs-up value-icon value-icon_3"></i>
					<h3>Integrity and Collaboration</h3>
					<p> We build trust through honest, professional conduct, with open communication to ensure a seamless, rewarding experience from concept to completion.
					</p>
				</div>
				<!-- End of Value-3 -->
			</div>
		</div>
	</section>
	<!-- End of Values -->





    <style lang="scss">


        // ================ Section Values ==========
.section-values {
	border-bottom: 1px solid lightgray;

	.value {
		background-color: var(--clr-white);
		padding: 3rem;
		border-radius: 1rem;
		box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .1);
		position: relative;
		z-index: 1;
		overflow: hidden;
		transition: .2s;

		&:hover {
			box-shadow: 0 .4rem .7rem rgba(0, 0, 0, .3);
			transform: translateY(-2px);
		}
		&:hover .value-icon {
			transform: scale(.9);
		}

		&::after {
			content: " ";
			width: 200px;
			height: 200px;
			border-radius: 50%;
			background-color: red;
			position: absolute;
			top: 100%;
			left: 100%;
			z-index: -2;
			transform: translate(-50%, -50%)
		}
		&::before {
			content: "";
			width: 100px;
			height: 100px;
			border-radius: 50%;
			background-color: var(--clr-white);
			// background-color: green;
			position: absolute;
			top: 100%;
			left: 100%;
			z-index: -1;
			transform: translate(-50%, -50%)
		}

		// Icons
		&-icon {
			// background-color: red;
			display: flex;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
			margin-bottom: 2rem;
			outline: 10px rgba(0, 128, 0, 0.626) solid;
			transition: .2s;
		}

		// h3
		h3 {
			font-family: "montserrat", sans-serif;
			font-weight: bolder;
			text-transform: capitalize;
			margin: 1rem 0;
			margin-top: 3rem;
		}


		// Value 1
		&-1 {

			&::after {
				background-color: rgba(209, 226, 96, 0.652);
			}

			.value-icon {
				background-color: #D1E260;
				outline-color: rgba(209, 226, 96, 0.652);
			}
		}
		// Value 2
		&-2 {

			&::after {
				background-color: rgba(255, 0, 0, 0.7);
			}

			.value-icon {
				background-color: #FF0000;
				outline-color: rgba(255, 0, 0, 0.7);
			}
		}
		// Value 3
		&-3 {

			&::after {
				background-color: rgba(0, 26, 255, 0.7);
			}

			.value-icon {
				background-color: #001AFF;
				outline-color: rgba(0, 26, 255, 0.7);
			}
		}
	}
}
// End of section Values

</style>